.active-courses-section {
  color: var(--light-blue) !important;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 1px;
    background: var(--light-blue) !important;
  }
}

.courses-tabs {
  background: var(--slight-blue);
  border-bottom: 1px solid var(--light-grey);
  padding: 15px;
  padding: 15px 200px;

  a {
    text-decoration: none;
    padding: 15px 10px;
    transition: all 0.4s ease;
    color: var(--grey);
    position: relative;

    &:hover {
      color: var(--light-blue);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      height: 1px;
      background: transparent;
      transition: all 0.4s ease;
    }
  }
}
