.visagiste-course{
  display: flex;
  
  .title{
      text-align: center;
      font-size: 22px;
      padding: 0 0 13px 0;
      max-width: 270px;
      @media(max-width: 1280px){
          max-width: 215px;
      }
      @media(max-width: 1020px){
          max-width: 135px;
      }


  }
  .programs{
      display:flex;
      flex-wrap: wrap;
  }
}

.course-card{
  background-size: cover;
  width: 283px;
  height: 283px;
  margin: 10px 5px;
  justify-content: center;
  align-items: center;  
  display: flex;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
  @media(max-width: 1280px){
      width: 215px;
      height: 215px;
  }
  @media(max-width: 1020px){
      width: 135px;
      height: 135px;
  }
  h2{
      font-size: 40px;
      color: #fff;
      @media(max-width: 1020px){
          font-size: 20px;
      }
  }
}
.after{
    ::after{
        content: '';
        display: block;
        height: 2px;
        width: 70px;
        background-color: #000;
        margin: auto;
        margin-top: 13px;
    }
}

.contact{
  border-top: 1px solid #efefef;
  padding: 100px 0 55px;
}

.contact-info{
  display: flex;
  justify-content: space-around;
  h3{
      margin: 0 0 25px;
  }
  @media(max-width: 800px){
      flex-direction: column;
  }
} 

.contact-num-info{
  text-align: center;
  @media(max-width: 800px){
      margin: 0 0 30px;
  }
}


.contact-row{
  display: flex;
  flex-direction: column;
}
.contact-num{
  line-height: 25px;
}

