<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Дарья Лемешева сайт, Лемешева сайт, lemesheva, лемешева, Лемешева, обучение бровист, обучение визажист, бровист, визажист, makeup, make-up,
      лемешева Улан-Удэ, Лемешева Улан-Удэ, обучение бровист Улан-Удэ, обучение визажист Улан-Удэ, бровист Улан-Удэ, визажист Улан-Удэ, makeup Улан-Удэ, make-up Улан-Удэ"
    />
    <meta name="author" content="Neon" />
    <title>LEMESHEVA</title>
  </head>
  <body>
    <div id="root"></div>

    <script src="{% static 'frontend/main.js' %}"></script>
  </body>
</html>
