.sign-in {
  min-height: 100vh;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: var(--slight-blue);
    border-radius: 10px;
    width: fit-content;
    padding: 50px 80px;
    height: fit-content;
  }
}
