a{
    text-decoration: none;

}
.a{
    :hover{
        color: #F58100;
        transition: 0.3s;
    }
}

p {
    font-size: 14px;
    color: #494949;
    margin: 0 0 10px;
}
h4{
    font-size: 16px;
    margin: 0 0 10px;
    @media(max-width: 1200px){
       font-size: 22px;
    }
}
h2{
    font-size: 22px;
    font-weight: 500;
    color: #414141;
    @media(max-width: 1200px){
        font-size: 19px;
     }
 }

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
   @media(max-width: 1280px){
        max-width: 900px;
    }
    @media(max-width: 1020px){
        max-width: 580px;
    }

}

.content{
    margin-top: 50px;
}

.course {
    margin: 0 0 40px;
}

.row-course{
    display: flex;
    margin: 0 0 100px 0;
    @media(max-width: 1020px){
        flex-direction: column;
        margin: 0 0 40px 0;
    }
}

.photo-course{
    width: 270px;
    height: 270px;
    z-index: -10;
    background-color: #f7e0e0;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}
.photo-course::before{
    content:'';
    position: absolute;
    width: 70px;
    height: 4px;
    background-color: #000;
    display: block;
    left: 230px;
    position: relative;
    top: 200px;
    @media(max-width: 1020px){
        display: none;
    }
}

.cover-space{
    flex: 1 1 auto;
}

.course-title{
    display: flex;
    align-items: flex-end;
    padding: 0 0 30px 40px;
    justify-content: flex-start;
    h1 {
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
    }
    span {
        font-size: 9px;
    }
    @media(max-width: 1020px){
        padding: 30px 0 0 0 ;
        display: block;
    }
}

.after{
    ::after{
        content: '';
        display: block;
        height: 2px;
        width: 70px;
        background-color: #000;
        margin: auto;
        margin-top: 13px;
    }
}


.signup-form{
    margin: 20px 0 20px 0;
    background-color: #f4f8fe;
    padding: 10px 0 30px 0;
    border-radius: 10px;
}
.singup-title{
    margin: 0 0 40px 0;
    text-align: center;
}
.signup-row{
    display: flex;
    justify-content: space-around;
    @media(max-width: 450px){
        flex-direction: column;
    }
}
.signup-btn{
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 9px 25px;
    font-size: 16px;
    border-radius: 10px;
    margin: 0 0 20px 0;
}
.btn-telegram {
    background-color: #237ab4;
}
.btn-instagram {
    background-color: #237ab4;
}
.btn-whatsapp {
    background-color: #237ab4;
}


