:root {
  --blue: #1f6feb;
  --light-blue: #8fb7f5;
  --slight-blue: #f4f8fe;
  --black: #24292f;
  --green: #3fb950;
  --white: #ffffff;
  --grey: #62738d;
  --light-grey: #e7ebf3;
  --red: #da3633;
}
